---
import { getAugmentedContent } from '../../utils/contentAugmentation';
import { useTranslations } from '../../i18n/utils';
import Layout from "../../layouts/Layout.astro";
import Hero from '../../components/Hero.astro';
import CardBlog from '../../components/CardBlog.astro';

const lang = Astro.currentLocale as keyof typeof import('../../i18n/utils').languages;
const t = useTranslations(lang);
const allPosts = await getAugmentedContent('blog', lang);
---

<Layout title={t('blog.title')} bodyClass="home" topbarTheme="bright">
    <Hero 
        className="hero--projects hero--blog"
        imgSrc="/assets/img/RDŠTIAVNIČKA3.jpg"
        imgAlt={t('blog.title')}
    >
        {t('blog.title')}
    </Hero>
	<a id="main"></a>
	
	<div class="section section--projects section--blog">
		<div class="grid-container">
			<div class="grid-x grid-margin-x projects-list blog-list">
            {
                allPosts.map((post) => (
                    <CardBlog post={post} className="cell medium-6"/>
                ))

            }
			</div>
		</div>
    </div>
</Layout>
