---
// src/pages/projects/index.astro
import { getAugmentedProjects } from '../../utils/contentAugmentation'; // Import the new utility

import { useTranslations } from '../../i18n/utils';
import Layout from "../../layouts/Layout.astro";
import Hero from '../../components/Hero.astro';
import CardProject from '../../components/CardProject.astro';

const lang = Astro.currentLocale as keyof typeof import('../../i18n/utils').languages;
const t = useTranslations(lang);
const allProjects = await getAugmentedProjects(lang);

// Sort projects by order
allProjects.sort((a, b) => a.data.order - b.data.order);
---

<Layout title={t('projects.title')} bodyClass="home" topbarClass="topbar--bright">
    <Hero 
        className="hero--projects"
        imgSrc="/assets/img/hero-projekty-2800w.jpg"
        imgAlt={t('projects.title')}
    >
        {t('projects.title')}
    </Hero>
	<a id="main"></a>
	
	<div class="section section--projects">
		<div class="grid-container">
			<div class="grid-x grid-margin-x projects-list">
            {
                allProjects.map((project) => (
                    <CardProject project={project} className="cell medium-6"/>
                ))
            }
			</div>
		</div>
    </div>
</Layout>
