---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
}

const { id } = Astro.props;
---

<div class="reveal reveal--contact" id={id} data-reveal>
    <h3>Získajte nezáväznú konzultáciu</h3>
    <p>Budeme vašim partnerom a prevedieme vás celým procesom od prvej skice až po odovzdanie stavby. Nenecháme vás v tom, môžete sa spoľahnúť. Vyplňte formulár, čoskoro sa vám ozveme.</p>

    <form class="contact-form" action="/inc/post.php" method="post" data-form-type="contact">
        <input type="text" name="form[name]" placeholder="Meno a priezvisko*">
        <div class="group">
            <div>
                <input type="email" name="form[email]" placeholder="E-mailová adresa*">
            </div>
            <div>
                <input type="tel" name="form[phone]" placeholder="Tel. číslo">
            </div>
        </div>
        <textarea name="form[text]" rows="4" placeholder="Popíšte projekt"></textarea>
        <label class="checkbox">
            <input type="checkbox" name="form[consent]" value="1">
            <span>K spracúvaniu osobných údajov dochádza za účelom vybavenia Vašej žiadosti. Bližšie informácie sú dostupné <a href="/zasady-spracuvania-osobnych-udajov" target="_blank">TU</a>.</span>
        </label>
        <div class="contact-form__response"></div>
        <button class="secondary button has-arrow" type="submit">
            <svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
            <span>Odoslať</span>
        </button>
    </form>

    <button class="close-button" data-close aria-label="Zavrieť okno" type="button">
        <svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg>
    </button>
</div>
