<div class="section" style="overflow-x:hidden">
		<div class="grid-container">
			<div class="grid-x grid-margin-x section__title">
				<div class="cell medium-auto">
					<h2>Projekty</h2>
				</div>
				<div class="cell medium-shrink show-for-medium">
					<div class="swiper-navigation swiper-navigation--square show-for-large">
						<div class="swiper-button swiper-button-prev--projects">
							<svg class="icon icon-arrow-prev"><use xlink:href="#icon-arrow-prev"></use></svg>
						</div>
						<div class="swiper-button swiper-button-next--projects">
							<svg class="icon icon-arrow-next"><use xlink:href="#icon-arrow-next"></use></svg>
						</div>
					</div>
					<a href="/projekty/" class="hollow secondary button has-arrow small-expanded">
						<svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
						Všetky projekty
					</a>
				</div>
			</div>
			<div class="grid-x grid-margin-x">
				<div class="cell small-12">
					<div class="swiper swiper--projects">
						<div class="swiper-wrapper">
									<a class="swiper-slide project" href="/projekty/dom-s-pavlacou/">
										<div class="project__img">
											<img src="/assets/img/projekt/23/dom-s-pavlacou-thumb.jpg" srcset="/assets/img/projekt/23/dom-s-pavlacou-thumb@2x.jpg 2x" alt="Dom s pavlačou">
										</div>
										<h3 class="has-arrow">
											<svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
											Dom s&nbsp;pavlačou
										</h3>
											<ul class="project-labels">
													<li class="bg-pale">Habitat konfigurátor</li>
											</ul>
									</a>
									<a class="swiper-slide project" href="/projekty/usadlost-na-cervenej-hore/">
										<div class="project__img">
											<img src="/assets/img/projekt/01/usadlost-na-cervenej-hore-thumb.jpg" srcset="/assets/img/projekt/01/usadlost-na-cervenej-hore-thumb@2x.jpg 2x" alt="Usadlosť na Červenej Hore">
										</div>
										<h3 class="has-arrow">
											<svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
											Usadlosť na&nbsp;Červenej Hore
										</h3>
											<ul class="project-labels">
													<li class="bg-cream">Domov na&nbsp;mieru</li>
											</ul>
									</a>
									<a class="swiper-slide project" href="/projekty/dom-s-mestskym-nadychom/">
										<div class="project__img">
											<img src="/assets/img/projekt/29/dom-s-mestskym-nadychom-thumb.jpg" srcset="/assets/img/projekt/29/dom-s-mestskym-nadychom-thumb@2x.jpg 2x" alt="Usadlosť na Červenej Hore">
										</div>
										<h3 class="has-arrow">
											<svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
											Dom s mestským nádychom
										</h3>
											<ul class="project-labels">
													<li class="bg-pale">Habitat konfigurátor</li>
											</ul>
									</a>
									<a class="swiper-slide project" href="/projekty/dom-s-bazenom-v-rusovciach/">
										<div class="project__img">
											<img src="/assets/img/projekt/03/dom-s-bazenom-v-rusovciach-thumb.jpg" srcset="/assets/img/projekt/03/dom-s-bazenom-v-rusovciach-thumb@2x.jpg 2x" alt="Dom s bazénom v Rusovciach">
										</div>
										<h3 class="has-arrow">
											<svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
											Dom s&nbsp;bazénom v&nbsp;Rusovciach
										</h3>
											<ul class="project-labels">
													<li class="bg-cream">Domov na&nbsp;mieru</li>
											</ul>
									</a>
									<a class="swiper-slide project" href="/projekty/dom-za-mestom/">
										<div class="project__img">
											<img src="/assets/img/projekt/27/dom-za-mestom-thumb.jpg" srcset="/assets/img/projekt/27/dom-za-mestom-thumb@2x.jpg 2x" alt="Dom za mestom">
										</div>
										<h3 class="has-arrow">
											<svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
											Dom za&nbsp;mestom
										</h3>
											<ul class="project-labels">
													<li class="bg-pale">Habitat konfigurátor</li>
											</ul>
									</a>
									<a class="swiper-slide project" href="/projekty/dom-s-cortenom-pri-piestanoch/">
										<div class="project__img">
											<img src="/assets/img/projekt/07/dom-s-cortenom-pri-piestanoch-thumb.jpg" srcset="/assets/img/projekt/07/dom-s-cortenom-pri-piestanoch-thumb@2x.jpg 2x" alt="Dom s cortenom pri Piešťanoch">
										</div>
										<h3 class="has-arrow">
											<svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
											Dom s&nbsp;cortenom pri&nbsp;Piešťanoch
										</h3>
											<ul class="project-labels">
													<li class="bg-cream">Domov na&nbsp;mieru</li>
											</ul>
									</a>
									<a class="swiper-slide project" href="/projekty/dom-so-saunou-na-povazi/">
										<div class="project__img">
											<img src="/assets/img/projekt/09/dom-so-saunou-na-povazi-thumb.jpg" srcset="/assets/img/projekt/09/dom-so-saunou-na-povazi-thumb@2x.jpg 2x" alt="Dom so saunou na Považí">
										</div>
										<h3 class="has-arrow">
											<svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
											Dom so&nbsp;saunou na&nbsp;Považí
										</h3>
											<ul class="project-labels">
													<li class="bg-cream">Domov na&nbsp;mieru</li>
											</ul>
									</a>
						</div>
						<div class="swiper-pagination hide-for-large"></div>
					</div>
				</div>
				<div class="cell small-12 hide-for-medium">
					<a href="/projekty/" class="hollow secondary button has-arrow small-expanded mt-40">
						<svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
						Všetky projekty
					</a>
				</div>
			</div>
		</div>
	</div>