---
import Layout from '../layouts/Layout.astro';

// When used as a layout for a markdown file, Astro passes a `frontmatter` prop.
// When used as a component, props can be passed directly. This handles both cases.
const { frontmatter } = Astro.props;
const allProps = frontmatter || Astro.props;
---

<Layout
    title={allProps.title}
	bodyClass="page"
    topbarClass="topbar--bright topbar--dark"
>

	<div class="section">
	    <div class="grid-container">
	        <div class="grid-x grid-margin-x align-center">
	            <div class="cell medium-9 large-7 h-article">
                    <slot/>
                </div>
            </div>
        </div>
    </div>
</Layout>