---
import Layout from '../layouts/Layout.astro';
---

<Layout 
	bodyClass="home"
>
    <a id="main"></a>
    <div class="section section--404">
            <div class="grid-container">
                    <div class="grid-x">
                            <div class="cell medium-8 large-8 medium-offset-4 large-offset-4">
                                    <h1>404</h1>
                                    <p>Ospravedlňujeme sa, <br>stránka nebola nájdená</p>
                                    <a href="/" class="secondary hollow button has-arrow">
                                            <svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
                                            Späť na hlavnú stránku
                                    </a>
                            </div>
                    </div>
            </div>
    </div>

</Layout>
