---
import { getOptimizedImageAttributes } from '../utils/imageUtils';
import type { HTMLAttributes } from 'astro/types';
import type { ImageMetadata } from 'astro';

export interface Props extends HTMLAttributes<'div'> {
    imgSrc?: string;
    imgAlt?: string;
}

const { id, imgSrc, imgAlt = "" } = Astro.props;

let mainSrc, srcSet;

if (imgSrc) {
    const imageLoaders = import.meta.glob<{ default: ImageMetadata }>('/src/assets/img/*.{jpeg,jpg,png,gif,webp,heic}');
    ({ src: mainSrc, srcset: srcSet } = await getOptimizedImageAttributes(
        imgSrc,
        [800, 1200, 2400],
        imageLoaders,
        'ImgSection.astro'
    ));
}
---

<div class="img-section" id={id}>
    <div class="grid-container bg-cream">
        <div class="grid-x">
            <div class="img-section__img cell medium-6 large-7">
                {imgSrc ? (
                    <img src={mainSrc} srcset={srcSet} sizes="(min-width: 40em) 58vw, 100vw" alt={imgAlt}>
                ) : (
                    <slot name="img"/>
                )}
            </div>
            <div class="img-section__content cell medium-6 large-5">
                <slot name="content"/>
            </div>
        </div>
    </div>
</div>