---
import type { HTMLAttributes } from 'astro/types';
import { useTranslations } from '../i18n/utils';

const lang = Astro.currentLocale as keyof typeof import('../i18n/utils').languages;
const t = useTranslations(lang);

export interface Props extends HTMLAttributes<'div'> {
}

const { id } = Astro.props;
---

<div class="reveal reveal--contact" id={id} data-reveal>
    <h3>{t('contact-form.title')}</h3>
    <p>{t('contact-form.text')}</p>

    <form class="contact-form" action="/php/inc/post.php" method="post" data-form-type="contact">
        <input type="text" name="form[name]" placeholder={t('contact-form.placeholder-name')}>
        <div class="group">
            <div>
                <input type="email" name="form[email]" placeholder={t('contact-form.placeholder-email')}>
            </div>
            <div>
                <input type="tel" name="form[phone]" placeholder={t('contact-form.placeholder-phone')}>
            </div>
        </div>
        <textarea name="form[text]" rows="4" placeholder={t('contact-form.placeholder-description')}></textarea>
        <label class="checkbox">
            <input type="checkbox" name="form[consent]" value="1">
            <span set:html={t('contact-form.spracovanie-udajov')}></span>
        </label>
        <div class="contact-form__response"></div>
        <button class="secondary button has-arrow" type="submit">
            <svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
            <span>{t('contact-form.submit')}</span>
        </button>
    </form>

    <button class="close-button" data-close aria-label="Zavrieť okno" type="button">
        <svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg>
    </button>
</div>
