---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
    mainTitle: string;
    subTitle: string;
}

const { mainTitle, subTitle } = Astro.props;
---

<div class="section" id="sluzby" style="overflow-x:hidden;">
    <div class="grid-container">
        <p class="lead" set:html={mainTitle}></p>
        <h2 class="small-headline">{subTitle}</h2>
        <div class="swiper swiper--services">
            <div class="swiper-wrapper">
                <slot/>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
