---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
    title: string;
}

const { title } = Astro.props;
---

<div class="section pt-0" style="overflow-x:hidden;">
    <div class="grid-container">
        <h2 class="small-headline">{title}</h2>
        <div class="swiper swiper--services">
            <div class="swiper-wrapper">
                <slot/>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
