<div class="swiper swiper--poi">
    <div class="swiper-wrapper">
        <slot/>
    </div>
    <div class="swiper-navigation swiper-navigation--square">
        <div class="swiper-button swiper-button-prev--poi">
            <svg class="icon icon-arrow-prev"><use xlink:href="#icon-arrow-prev"></use></svg>
        </div>
        <div class="swiper-button swiper-button-next--poi">
            <svg class="icon icon-arrow-next"><use xlink:href="#icon-arrow-next"></use></svg>
        </div>
    </div>
</div>