---
interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---

<div class={`section pb-0 ${className}`} style="overflow-x:hidden;">
    <div class="grid-container">
		<div class="lead">
            <slot />
        </div>
    </div>
</div>
