---
import { getAugmentedProjects } from '../../utils/getProjectImageMetadata';
import { useTranslations } from '../../i18n/utils';

import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Services from '../../components/Services.astro';
import Service from '../../components/Service.astro';
import ImgSection from '../../components/ImgSection.astro';
import SlidesPoi from '../../components/SlidesPoi.astro';
import SlidePoi from '../../components/SlidePoi.astro';
import SlidesSteps from '../../components/SlidesSteps.astro';
import SectionExpandable from '../../components/SectionExpandable.astro';
import SlidesProjects from '../../components/SlidesProjects.astro';

const lang = Astro.currentLocale as keyof typeof import('../../i18n/utils').languages;
const t = useTranslations(lang);

const selectedProjectDirs = [
	"dom-s-pavlacou",
	"usadlost-na-cervenej-hore",
	"dom-s-mestskym-nadychom",
	"dom-s-bazenom-v-rusovciach",
	"dom-za-mestom",
	"dom-s-cortenom-pri-piestanoch",
	"dom-so-saunou-na-povazi",
];

const allProjects = await getAugmentedProjects(lang);
const projectsByDir = new Map(allProjects.map(p => [p.data.dir, p]));
const selectedProjects = selectedProjectDirs.map(dir => projectsByDir.get(dir)).filter(Boolean);
---

<Layout 
	bodyClass="home"
>

	<Hero className="hero--home">
		Architekti <br>pasivních <br>domů
	</Hero>
	<a id="main"></a>
	
	<Services
		mainTitle={t('services.mainTitle')}
		subTitle={t('services.subTitle')}
	>
		<Service
			id="service-1"
			icon=`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none"><path d="M34.192 16.214 21.692 4.42a2.5 2.5 0 0 0-3.381-.017l-.017.017L5.808 16.214A2.5 2.5 0 0 0 5 18.054V32.5A2.5 2.5 0 0 0 7.5 35h25a2.5 2.5 0 0 0 2.5-2.5V18.055a2.499 2.499 0 0 0-.808-1.84ZM32.5 32.5h-25V18.055l.017-.016L20 6.25l12.484 11.786.018.016L32.5 32.5Z"/></svg>`
			title="Domov na&nbsp;míru"
			text="Navrhneme vám dům přesně podle vašich potřeb, šitý na&nbsp;míru pro&nbsp;vás a&nbsp;vaši rodinu. Bez kompromisů."
			button1="Více informací"
			button2="Mám zájem"
		>
            <p>Máte vlastní představu jak by mělo vypadat vaše budoucí bydlení nebo chcete aby byl váš dům jedinečný originál? Plánujete stavět na pozemku se složitým tvarem nebo regulativy? Ve strmém svahu, řadové zástavbě nebo na výjimečné lokalitě? Vlastníte dům vhodný pro komplexní rekonstrukci?</p>
            <p>V tom případě je <strong>Domov na míru</strong> ideální volbou. Jak jeho tvorba probíhá?</p>
            <p>Projdeme si spolu podrobně všechny vaše představy a nápady. Ověříme podmínky výstavby ve vaší lokalitě a živě navštívíme pozemek nebo stavbu - klíčem k dobrému návrhu je pochopit a podpořit jejich potenciál. Ať už se jedná o nejkrásnější výhledy, pohyb slunce po pozemku nebo neopakovatelné genius locci.</p>
            <p>Následně navrhneme dům, který bude zohledňovat vaše specifické potřeby jako životní styl, architektonický vkus či stanovený rozpočet. Naše zkušenosti a přesné výpočty vám zaručí, že spolu s jedinečnou architekturou získáte i tu nejlepší investici do budoucnosti. Domov na míru totiž tvoříme s ohledem na přesnou geografickou polohu, orientaci pozemku a okolní zástavbu - tak, abyste na provoz domu utráceli minimum z rodinného rozpočtu a zároveň bydleli v nejvyšším standardu, jaký aktuálně stavebnictví nabízí.</p>
		</Service>
		<Service
			id="service-2"
			icon=`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none"><path d="M9.998 16.406V6.25a1.25 1.25 0 0 0-2.5 0v10.156a5 5 0 0 0 0 9.688v7.656a1.25 1.25 0 1 0 2.5 0v-7.656a5 5 0 0 0 0-9.688Zm-1.25 7.344a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5Zm12.5-14.844V6.25a1.25 1.25 0 0 0-2.5 0v2.656a5 5 0 0 0 0 9.688V33.75a1.25 1.25 0 0 0 2.5 0V18.594a5 5 0 0 0 0-9.688Zm-1.25 7.344a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5Zm16.25 10a5.01 5.01 0 0 0-3.75-4.844V6.25a1.25 1.25 0 0 0-2.5 0v15.156a5 5 0 0 0 0 9.688v2.656a1.25 1.25 0 0 0 2.5 0v-2.656a5.009 5.009 0 0 0 3.75-4.844Zm-5 2.5a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5Z"/></svg>`
			title="Habitat konfigurátor"
			text="Unikátní postup tvorby architektury vašeho nového domu. Sestavíme vám domov z&nbsp;našich ověřených řešení a&nbsp;ušetříte čas i peníze."
			button1="Více informací"
			button2="Mám zájem"
		>
			<p><strong>Habitat Konfigurátor</strong> je naší odpovědí na neuspokojivou nabídku katalogových domů na trhu. Ty nezohledňují specifika pozemku a klienta, jsou málo dispozičně flexibilní a architektonicky těžko modifikovatelné. V době, kdy stále více záleží na kvalitě vnitřního prostředí a energetice se katalogové domy nekoncepčně umísťují na parcely, bez zohlednění orientace na světové strany, energetické optimalizace či účinného stínění.</p>
			<p><strong>Náš koncept spojuje to nejlepší z katalogových a individuálních projektů.</strong></p>
			<p>Sesbírali jsme nejčastější dispoziční a konstrukční zadání, přidali naše know-how a vytvořili tak inovativní systém tvorby rodinných domů. Máme připraveny stovky kombinací a ověřených řešení, které následně přizpůsobíme přesnými výpočty pro váš konkrétní pozemek. Takto umíme ušetřit čas i peníze ve fázi architektonického návrhu s jistotou, že váš dům bude splňovat nejvyšší nároky na bydlení a energetickou efektivnost stavby.</p>
			<p>Jak to probíhá? <br>
			Váš dům spolu sestavíme z optimalizovaných a stavebně promyšlených modulů. Nemusíte trávit hodiny prohlížením náhodných projektů, ale na základě vašich požadavků a vlastností pozemku vybereme vhodný typ dispozice a počet pokojů. Určitě si vyberete i z architektonických ztvárnění domu - pro každý půdorys máme připraveny možnosti od nejjednodušší po nejvyšší standard, od tradičních domů po moderní vily. Pokud bychom přece jen nenašli to pravé v Habitat Konfigurátoru, rádi vám navrhneme Domov na míru.</p>
		</Service>
		<Service
			id="service-3"
			icon=`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none"><path d="M32.561 18.439a1.501 1.501 0 0 1 0 2.122l-10.5 10.5a1.5 1.5 0 0 1-2.122 0l-4.5-4.5a1.5 1.5 0 0 1 2.122-2.122L21 27.879l9.439-9.44a1.498 1.498 0 0 1 2.122 0ZM43.5 24A19.5 19.5 0 1 1 24 4.5 19.52 19.52 0 0 1 43.5 24Zm-3 0A16.5 16.5 0 1 0 24 40.5 16.519 16.519 0 0 0 40.5 24Z"/></svg>`
			title="Archicheck"
			text="Přijedeme za&nbsp;Vámi kamkoli. Naživo vám představíme smýšlení a&nbsp;filozofii ateliéru. Ukážeme vám potenciál vašeho pozemku a&nbsp;budoucího bydlení. <strong>Od 7000 CZK</strong>"
			button1="Více informací"
			button2="Mám zájem"
		>
			<p>Zvažujete koupi pozemku, stavbu pasivního domu nebo rekonstrukci? Potřebujete poradit jak postupovat při návrhu a povolování stavby? Nevíte se rozhodnout, zda je pro vás vhodný Habitat Konfigurátor nebo Domov na míru? Chcete probrat vaše představy a nápady a získat názor profesionálů z praxe?</p>
			<p>Všechny tyto a mnohé další otázky vám osobně zodpovíme na <strong>Archichecku</strong> - osobní konzultaci na vašem pozemku nebo stavbě. Jako bonus si ověříte chemii mezi klientem a architektem, což je důležitý předpoklad úspěšného projektu.</p>
			<p>Jak to probíhá? <br>
			Před setkáním vám zašleme dotazník k vyplnění základních informací o vašem plánovaném projektu. Bude nás zajímat o jaký pozemek nebo stavbu jde, jak je lokalita zaregulována, jaké jsou vaše představy a očekávání. Přímo na místě s vámi projdeme všechny otázky, naše doporučení a rady z praxe. Rozebereme si specifika vašeho pozemku, jeho potenciály a rizika, která mohou ovlivnit rozpočet stavby. Odhadneme výši investice a nastíníme, jak bychom váš projekt řešili u nás v ateliéru.</p>
			<p>Po setkání vypracujeme elaborát se shrnutím základních faktů a doporučení, který můžete použít při dalším plánování. </p>
		</Service>
	</Services>
	
	<ImgSection id='preco-habitat'>
		<Fragment slot="img">
			<img src="/assets/img/preco-habitat-800w.jpg" srcset="/assets/img/preco-habitat-1200w.jpg 1200w, /assets/img/preco-habitat-2400w.jpg 2400w" sizes="(min-width: 40em) 58vw, 100vw" alt="Vizualizace domu">
		</Fragment>
		<Fragment slot="content">
			<h2>Proč <br>Habitat?</h2>
			<p>90% našeho času trávíme uvnitř budov. Kvalita vnitřního prostředí stavby je klíčová. Teplota, vlhkost, eliminace vzniku plísní, zdravá hodnota oxidu uhličitého a&nbsp;minimum alergenů ve&nbsp;vzduchu, který dýcháme. <strong>Habitat je ZDRAVÉ prostředí</strong>.</p>
			<p>Více než 40% globální spotřeby energie a&nbsp;jednu třetinu emisí skleníkových plynů tvoří budovy. <strong>Habitat je ODPOVĚDNÁ volba pro&nbsp;životní prostředí</strong>.</p>
			<p>Minimální potřeba energie znamená ekonomickou jistotu. <strong>Habitat je BEZPEČNÉ prostředí</strong>.</p>
		</Fragment>
	</ImgSection>
	
	<div class="section pb-0">
		<div class="grid-container">
			<h3>Funkčnost skrytá v&nbsp;designu</h3>
		</div>
		<div class="grid-container pi-0">
			<SlidesPoi>
				<SlidePoi
					id="poi-info-01"
					imgSrc="/assets/img/funkcnost/01-756w.jpg"
					imgSrcSet="/assets/img/funkcnost/01-756w.jpg 504w, /assets/img/funkcnost/01-1512w.jpg 1008w, /assets/img/funkcnost/01-2268w.jpg 1512w, /assets/img/funkcnost/01-3024w.jpg 2016w"
					imgAlt="RD Zečák"
					points={[
						{
							leftPercent: 38,
							topPercent: 28.4,
							text: "Stínění přesahem střechy a&nbsp;balkonem, navržené přesně podle pohybu slunce a&nbsp;orientace pozemku. Aby se dům v&nbsp;létě nepřehříval a&nbsp;v&nbsp;zimě nízké slunce vytápělo interiér."
						},
						{
							leftPercent: 70.5,
							topPercent: 77,
							text: "Zapuštění stavby do&nbsp;terénu snižuje potřebu energie na&nbsp;vytápění v&nbsp;zimě a&nbsp;chlazení v&nbsp;létě."
						},
						{
							leftPercent: 52,
							topPercent: 77,
							text: "Optimální rozměry a&nbsp;umístění oken navržené s&nbsp;důrazem na&nbsp;energetiku, prosvětlení interiéru a&nbsp;výhledy."
						},
					]}
				/>
				<SlidePoi
					id="poi-info-02"
					imgSrc="/assets/img/funkcnost/02-756w.jpg"
					imgSrcSet="/assets/img/funkcnost/02-756w.jpg 504w, /assets/img/funkcnost/02-1512w.jpg 1008w, /assets/img/funkcnost/02-2268w.jpg 1512w, /assets/img/funkcnost/02-3024w.jpg 2016w"
					imgAlt="RD Zečák"
					points={[
						{
							leftPercent: 40,
							topPercent: 58,
							text: "Napojení vnějších konstrukcí bez&nbsp;tepelných mostů a&nbsp;nebezpečí vzniku plísní."
						},
						{
							leftPercent: 48,
							topPercent: 68,
							text: "Výběr kvalitních okenních profilů a&nbsp;vhodného typu trojskla, s&nbsp;přesně definovanými vlastnostmi."
						},
						{
							leftPercent: 55,
							topPercent: 75.5,
							text: "Základová deska na&nbsp;tepelné izolaci je uvnitř tepelné obálky domu a&nbsp;pomáhá udržovat stálou teplotu v&nbsp;interiéru."
						},
					]}
				/>
				<SlidePoi
					id="poi-info-03"
					imgSrc="/assets/img/funkcnost/03-756w.jpg"
					imgSrcSet="/assets/img/funkcnost/03-756w.jpg 504w, /assets/img/funkcnost/03-1512w.jpg 1008w, /assets/img/funkcnost/03-2268w.jpg 1512w, /assets/img/funkcnost/03-3024w.jpg 2016w"
					imgAlt="RD Zečák"
					points={[
						{
							leftPercent: 55.5,
							topPercent: 47.5,
							text: "Fasáda z&nbsp;kvalitních materiálů ověřených v&nbsp;praxi, s&nbsp;přesným výpočtem potřebné tloušťky tepelné izolace a&nbsp;difuze vodní páry."
						},
						{
							leftPercent: 73.5,
							topPercent: 54,
							text: "Stínění pergolami. Horizontální část chrání okna před&nbsp;vysokým jižním sluncem, vertikální lamely zase před&nbsp;nízkým východním a&nbsp;západním sluncem."
						},
						{
							leftPercent: 11,
							topPercent: 62,
							text: "Vliv okolních objektů na&nbsp;zimní solární zisky a&nbsp;letní přehřívání je přesně vypočítán a&nbsp;zohledněn do&nbsp;architektonického návrhu."
						},
					]}
				/>
				<SlidePoi
					id="poi-info-04"
					imgSrc="/assets/img/funkcnost/04-756w.jpg"
					imgSrcSet="/assets/img/funkcnost/04-756w.jpg 504w, /assets/img/funkcnost/04-1512w.jpg 1008w, /assets/img/funkcnost/04-2268w.jpg 1512w, /assets/img/funkcnost/04-3024w.jpg 2016w"
					imgAlt="RD Zečák"
					points={[
						{
							leftPercent: 34,
							topPercent: 24,
							text: "Zelená fasáda chrání omítku před&nbsp;vlivem UV záření a&nbsp;snižuje povrchovou teplotu fasády v&nbsp;létě, čímž pomáhá zabraňovat přehřívání."
						},
						{
							leftPercent: 33,
							topPercent: 85,
							text: "Rozšíření pobytového prostoru překryté funkčním stíněním."
						},
						{
							leftPercent: 42,
							topPercent: 71,
							text: "Zdravé vnitřní prostředí. Stálý přísun čerstvého vzduchu a&nbsp;minimum alergenů díky řízenému větrání s&nbsp;rekuperací tepla."
						},
					]}
				/>
				<SlidePoi
					id="poi-info-05"
					imgSrc="/assets/img/funkcnost/05-756w.jpg"
					imgSrcSet="/assets/img/funkcnost/05-756w.jpg 504w, /assets/img/funkcnost/05-1512w.jpg 1008w, /assets/img/funkcnost/05-2268w.jpg 1512w, /assets/img/funkcnost/05-3024w.jpg 2016w"
					imgAlt="RD Zečák"
					points={[
						{
							leftPercent: 19,
							topPercent: 65,
							text: "Exteriérové žaluzie chrání prosklení před&nbsp;přehříváním. Jejich umístění pouze na&nbsp;oknech, kde jsou podle výpočtu potřeba, přináší finanční úsporu."
						},
						{
							leftPercent: 36,
							topPercent: 50,
							text: "Unikátní architektonická řešení, jejichž vliv na&nbsp;energetiku stavby je exaktně analyzován během návrhu."
						},
						{
							leftPercent: 68,
							topPercent: 48,
							text: "Zelená střecha chrání střešní plášť, pomáhá udržovat teplotní stabilitu místností a&nbsp;zlepšuje mikroklima okolí."
						},
					]}
				/>
				<SlidePoi
					id="poi-info-06"
					imgSrc="/assets/img/funkcnost/06-756w.jpg"
					imgSrcSet="/assets/img/funkcnost/06-756w.jpg 504w, /assets/img/funkcnost/06-1512w.jpg 1008w, /assets/img/funkcnost/06-2268w.jpg 1512w, /assets/img/funkcnost/06-3024w.jpg 2016w"
					imgAlt="RD Zečák"
					points={[
						{
							leftPercent: 32,
							topPercent: 63,
							text: "Velká jižní prosklení, která nabízejí výhledy do&nbsp;okolní krajiny, jsou v&nbsp;létě zastíněna a&nbsp;v&nbsp;zimě přinášejí solární zisky."
						},
						{
							leftPercent: 71,
							topPercent: 45.5,
							text: "Kombinace stínění dřevěnou pergolou a&nbsp;přesahem ploché střechy. Individuální řešení, zohledňující funkční provoz domu a&nbsp;orientaci na&nbsp;světové strany."
						},
						{
							leftPercent: 79,
							topPercent: 28.5,
							text: "Dům navržený na&nbsp;míru spojuje místní architekturu a&nbsp;jedinečnost svých majitelů."
						},
					]}
				/>
			</SlidesPoi>
		</div>
	</div>
	
	<SlidesSteps
		title="Cesta k&nbsp;pasivnímu domu"
		steps={[
			{
				title: "Navrhneme architekturu",
				text: "Na&nbsp;míru nebo z&nbsp;našich ověřených řešení navrhneme efektivní a&nbsp;smysluplný domov pro&nbsp;vás a&nbsp;vaši rodinu.",
			},
			{
				title: "Připravíme podklady pro&nbsp;povolení stavby",
				text: "Vypracujeme kompletní dokumentaci pro&nbsp;úřady. Vše, co budete potřebovat, aby vám umožnili stavět.",
			},
			{
				title: "Detailně naprojektujeme stavbu i interiér",
				text: "Váš dům důkladně promyslíme a&nbsp;naprojektujeme v&nbsp;realizační podrobnosti. Kvalita se skrývá v&nbsp;detailech.",
			},
			{
				title: "Zrealizujeme",
				text: "Ve&nbsp;spolupráci s&nbsp;našimi partnery zodpovědně zrealizujeme váš pasivní dům. Dohlédneme na&nbsp;kvalitu.",
			},
			{
				title: "Stěhujete se",
				text: "Až v&nbsp;tomto bodě máme hotovo. Užívejte si svůj domov od&nbsp;Habitat.",
			}
		]}
	/>

	
	<SectionExpandable
		id="manifest"
		imgSrc="/assets/img/manifest-1600w.jpg"
		imgSrcSet="/assets/img/manifest-1600w.jpg 1600w, /assets/img/manifest-3200w.jpg 3200w"
		imgAlt="RD Rusovce"
		title="Držíme se <br>svých zásad"
		text="Domy plánované jako pasivní od začátku. <strong>Schválně.</strong>"
		button="Manifest"
	>
		<ol>
			<li>Jak dům navrhneme, tak se vám bude bydlet. Uvědomujeme si svou <strong>odpovědnost</strong>.</li>
			<li>Nenavrhujeme prázdná architektonická gesta. Naše domy jsou <strong>efektivní a&nbsp;smysluplné</strong>.</li>
			<li>Energetické nároky domu neodhadujeme. Od&nbsp;začátku návrhu používáme <strong>technická data a&nbsp;výpočty</strong>.</li>
			<li>Jsme přesvědčeni, že energetická efektivita design nesvazuje, ale umocňuje jeho <strong>architektonickou a&nbsp;estetickou hodnotu</strong></li>
			<li>Děláme to co nás baví, nejlépe jak umíme. Věříme, že jen kvalitní, <strong>efektivní a&nbsp;krásné domy</strong> dokáží obhájit svou hodnotu v&nbsp;čase.</li>
		</ol>
	</SectionExpandable>
	
	<SlidesProjects
		title={t('projects.title')}
		all={t('projects.all')}
		projects={selectedProjects}
	/>
		
</Layout>
